@import "../Essential Kits/css/Root.css";
* {
    color: var(--context-text);
}
.boxmain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.mySlides img {
    border: 2px solid wheat;
    border-radius: 5px;
    width: 650px;
    aspect-ratio: 16/9;
}
.secondHalf li {
    list-style: none;  
}

.secondHalf {
    /* color: antiquewhite; */
    margin-right: 10%;

}
h2 {
    font-size: clamp(2rem, 1rem + 5vw, 4rem);
    margin-bottom: 30px;
}
.secondHalf > p,
.secondHalf > ul {
    font-size: 1.3rem;
}
.nav-btn {
    background: none;
    color: var(--context-text);
    border: 2px solid white;
    padding: 0px 8px;
    border-radius: 5px;
}
.icon {
    font-size:1rem;
}