:root {
    transition: background 0.3s linear;
    --blue-10: #D9E7F6;
    --blue-20: #ADCEF4;
    --blue-30: #80B3EE;
    --blue-40: #5399E8;
    --blue-50: #267EE2;
    --blue-60: #1865BD;
    --blue-70: #124D90;
    --blue-80: #0C3563;
    --blue-90: hsl(221, 78%, 7%);
    --navbar-text: #eee;
    --context-text: hsl(180, 7%, 94%);
    --navbar-background-color: hsl(222, 58%, 11%);
    --navbar-border-color: #1b2335;
    --background-color: hsl(221, 78%, 7%);
    --btn-shadow: 0px 5px 15px #81a0d5;
    --sec-background-color: hsl(324, 52%, 50%);
    --sec-text-color: #F4D2E9;
    --dialog-box-background: #134072;
    --dialog-box-shadow: 0px 5px 10px #0e1d24, 0 5px 20px #0006;
    --sidebar-background-color: hsl(257, 75%, 12%);
    --sidebar-option-hover-color: #aaaaaa7a;
    --border: 255, 255, 255;
    --dark-gradient-color-45deg: linear-gradient(45deg, hsl(212, 71%, 26%), hsl(324, 52%, 50%));
    --light-gradient-color-45deg: linear-gradient(45deg, hsl(212, 73%, 60%), hsl(324, 52%, 60%));
    --blue-dark-rgb: 19, 63, 113;
    --pink-dark-rgb: 194, 61, 141;
    --blue-light-rgb: 79, 148, 227;
    --pink-light-rgb: 206, 100, 164;
    --blue-text-color: hsl(189, 100%, 50%);
    --unimportant-text-color: hsl(180, 2%, 80%);
}

.light-theme {
    transition: background 0.3s linear, color 0.3s linear;
    --navbar-text: #070707;
    --context-text: #010409;
    --navbar-background-color: hsl(222, 58%, 89%);
    --background-color: hsl(221, 78%, 97%);
    --sec-background-color: hsl(324, 52%, 60%);
    --dialog-box-background: #4f95e3;
    --sidebar-background-color: hsl(257, 75%, 80%);
    --sidebar-option-hover-color: #5555557a;
    --border: 0, 0, 0;
    --dark-gradient-color-45deg: linear-gradient(45deg, hsl(216, 73%, 90%), hsl(324, 53%, 90%));
    --blue-dark-rgb: 211, 226, 248;
    --pink-dark-rgb: 243, 216, 232;
    --blue-text-color: hsl(189, 100%, 26%);
    --unimportant-text-color: hsl(180, 2%, 30%);
}


*{
    padding: 0;
    margin: 0;
    font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    background: var(--background-color);
    height: auto;
    transition: background 0.3s linear, color 0.3s linear;
    outline: none;
}
a {
    color: var(--navbar-text);
    text-decoration: none;
    outline: none;
    transition: .25s;
}
ul {
    list-style: none;
}

body::-webkit-scrollbar {
    width: 0.025rem;
}
body::-webkit-scrollbar-track {
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
    background: -webkit-gradient(linear, left top, left bottom, from(hsl(212, 73%, 60%)), to(hsl(323.9, 52.2%, 60%)));
    background: linear-gradient(hsl(212, 73%, 60%), hsl(323.9, 52.2%, 60%));
}