footer{
    background-color: rgba(0, 0, 0, 0.842);
    color: aliceblue;
    font-family: sans-serif,Verdana ; 
    width: 100%;
    margin-top: 20px;
    /* position: absolute;
    bottom: 0;
    right: 0;
    left: 0; */
    }
.footer-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.border-margin{
    height: 50px;
    width: 1px;
    /* background-color: gray; */
    margin-left: 10px;
    margin-right: 10px;
}
.border-margin p {
    padding-top: 8px;
}
.footer-top img{
    width: 40px;
    height: 40px;
}
.footer-bottom{
    text-align: center;
}